{% include "global/base.html" %}
{% load static %}
<!DOCTYPE html>
<title>{{title}}</title>
<body>
    <h1>Sua carta é:</h1>
    <h1>
       
        O valor da carta é: {{card_value}} \
        O naipe da carta é: {{card_suit}} \
        A cor é: {{card_color}} \
        O ID do deck é: {{deck_id}} \
        
    </h1>
    
    <div class="card-image">
        <img src="{{card_image}}" alt="">
    </div>
    
    <div class="div-button">
        <form action="{%url 'index:take_a_card'%}" method="get">
            <button class="btn">Take a random card</button>
        </form>
    </div>
    

</body>
</html>