*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(132, 125, 135);
}

.btn{
    padding: 10px 8px;
    width: 100px;
    color: #fff;
    background: rgb(164, 164, 169);
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 150px;
}

.btn:hover{
    background-color: rgb(122, 122, 253);
    transition: 0.3s;
}


header{
    width: 100%;
    background-color: rgb(94, 89, 96);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}

.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 25px;
    color: white;    
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
}

.menu li a:hover{
    background-color: rgba(100, 100, 100, 0.9);
}

.div-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}